In [9]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [10]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [116]:
def answer_one():
    new_df = df.copy()
    new_df['Country']=new_df.index
    return new_df.loc[:,['Gold','Country']].sort_values(by="Gold",ascending=0)

In [16]:
answer_one()

                      Gold               Country
United States          976         United States
Soviet Union           395          Soviet Union
Great Britain          236         Great Britain
France                 202                France
China                  201                 China
Italy                  198                 Italy
Germany                174               Germany
Hungary                167               Hungary
East Germany           153          East Germany
Sweden                 143                Sweden
Australia              139             Australia
Russia                 132                Russia
Japan                  130                 Japan
Finland                101               Finland
Romania                 88               Romania
South Korea             81           South Korea
Netherlands             77           Netherlands
Cuba                    72                  Cuba
Poland                  64                Poland
Canada                  59                Canada
West Germany            56          West Germany
Norway                  56                Norway
Bulgaria                51              Bulgaria
Czechoslovakia          49        Czechoslovakia
Switzerland             47           Switzerland
Unified Team            45          Unified Team
Denmark                 43               Denmark
New Zealand             42           New Zealand
Turkey                  39                Turkey
Spain                   37                 Spain
...                    ...                   ...
Saudi Arabia             0          Saudi Arabia
Ivory Coast              0           Ivory Coast
Guyana                   0                Guyana
Lebanon                  0               Lebanon
Liechtenstein            0         Liechtenstein
Iraq                     0                  Iraq
Macedonia                0             Macedonia
Malaysia                 0              Malaysia
Mauritius                0             Mauritius
Iceland                  0               Iceland
Moldova                  0               Moldova
Montenegro               0            Montenegro
Namibia                  0               Namibia
Haiti                    0                 Haiti
Netherlands Antilles     0  Netherlands Antilles
Niger                    0                 Niger
Singapore                0             Singapore
Guatemala                0             Guatemala
Ghana                    0                 Ghana
Paraguay                 0              Paraguay
Philippines              0           Philippines
Gabon                    0                 Gabon
Eritrea                  0               Eritrea
Puerto Rico              0           Puerto Rico
Qatar                    0                 Qatar
Djibouti                 0              Djibouti
Cyprus                   0                Cyprus
Kyrgyzstan               0            Kyrgyzstan
Senegal                  0               Senegal
Afghanistan              0           Afghanistan

[146 rows x 2 columns]

In [43]:
def answer_one():
    new_df = df.copy()
    new_df['Country']=new_df.index
    return new_df.loc[:,['Gold','Country']].sort_values(by="Gold",ascending=0).iloc[0]['Country']

In [44]:
answer_one()

'United States'

In [118]:
def answer_one():
    new_df = df.copy()
    return new_df['Gold'].argmax()

In [119]:
answer_one()

'United States'

In [120]:
import numpy as np
def answer_two():
    new_df = df.copy()
    new_df['Country']=new_df.index
    new_df['Delta'] = np.absolute(new_df['Gold'] - new_df['Gold.1'])
    return new_df.loc[:,['Gold','Gold.1','Delta','Country']].sort_values(by='Delta',ascending=0)

In [121]:
answer_two()

,Gold,Gold.1,Delta,Country
United States,976,96,880,United States
Soviet Union,395,78,317,Soviet Union
Great Britain,236,10,226,Great Britain
China,201,12,189,China
France,202,31,171,France
Hungary,167,0,167,Hungary
Italy,198,37,161,Italy
Australia,139,5,134,Australia
Japan,130,10,120,Japan
East Germany,153,39,114,East Germany
Germany,174,78,96,Germany
Sweden,143,50,93,Sweden
Romania,88,0,88,Romania
Russia,132,49,83,Russia
Cuba,72,0,72,Cuba
Norway,56,118,62,Norway
Finland,101,42,59,Finland
Poland,64,6,58,Poland
South Korea,81,26,55,South Korea
Bulgaria,51,1,50,Bulgaria
Czechoslovakia,49,2,47,Czechoslovakia
West Germany,56,11,45,West Germany
Denmark,43,0,43,Denmark
New Zealand,42,0,42,New Zealand
Austria,18,59,41,Austria
Netherlands,77,37,40,Netherlands
Turkey,39,0,39,Turkey
Belgium,37,1,36,Belgium
Unified Team,45,9,36,Unified Team
Spain,37,1,36,Spain
...,...,...,...,...
Kuwait,0,0,0,Kuwait
Independent Olympic Participants,0,0,0,Independent Olympic Participants
Zambia,0,0,0,Zambia
Iceland,0,0,0,Iceland
Macedonia,0,0,0,Macedonia
Guyana,0,0,0,Guyana
Mauritius,0,0,0,Mauritius
Paraguay,0,0,0,Paraguay
Eritrea,0,0,0,Eritrea
Philippines,0,0,0,Philippines
Gabon,0,0,0,Gabon
Djibouti,0,0,0,Djibouti
Puerto Rico,0,0,0,Puerto Rico
Qatar,0,0,0,Qatar
Cyprus,0,0,0,Cyprus
Niger,0,0,0,Niger
Ghana,0,0,0,Ghana
Ivory Coast,0,0,0,Ivory Coast
Iraq,0,0,0,Iraq
Saudi Arabia,0,0,0,Saudi Arabia
Senegal,0,0,0,Senegal
Netherlands Antilles,0,0,0,Netherlands Antilles
Singapore,0,0,0,Singapore
Namibia,0,0,0,Namibia
Guatemala,0,0,0,Guatemala
Montenegro,0,0,0,Montenegro
Sri Lanka,0,0,0,Sri Lanka
Sudan,0,0,0,Sudan
Moldova,0,0,0,Moldova
Afghanistan,0,0,0,Afghanistan

In [122]:
import numpy as np
def answer_two():
    new_df = df.copy()
    new_df['Country']=new_df.index
    new_df['Delta'] = np.absolute(new_df['Gold'] - new_df['Gold.1'])
    return new_df.loc[:,['Gold','Gold.1','Delta','Country']].sort_values(by='Delta',ascending=0).iloc[0]['Country']

In [123]:
answer_two()

'United States'

In [125]:
import numpy as np
def answer_two():
    new_df = df.copy()
    new_df['Delta'] = np.absolute(new_df['Gold'] - new_df['Gold.1'])
    return new_df['Delta'].argmax()

In [126]:
answer_two()

'United States'

In [131]:
import numpy as np
def answer_three():
    new_df = df.copy()
    new_df = new_df[(new_df['Gold']>0) & (new_df['Gold.1']>0)]
    new_df['Ratio'] = np.absolute(new_df['Gold'] - new_df['Gold.1'])/new_df['Gold.2']
    return new_df['Ratio'].argmax()

In [132]:
answer_three()

'Bulgaria'

In [139]:
import numpy as np
def answer_four():
    new_df = df.copy()
    new_df['Points'] = (new_df['Gold.2'] * 3) + (new_df['Silver.2'] * 2) + (new_df['Bronze.2'])
    points = pd.Series(new_df['Points'])
    return points

In [140]:
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

In [115]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [141]:
def answer_five():
    return "YOUR ANSWER HERE"

In [142]:
answer_five()

'YOUR ANSWER HERE'

In [148]:
import pandas as pd

# list of flat count for each floor
flat_count = [3, 5, 6, 7, 8]
# create a label for each floor
floor_names = ["floor no" + str(x + 1) for x in range(len(flat_count))]
flat_count = [3, 5, 5, 7, 8]

# create a dataframe with floor names as index and flat count as a column
building = pd.DataFrame({'Flat count': flat_count}, index=floor_names)
print(building)

# print dataframe building
#print (tabulate(building, headers='keys', tablefmt='orgtbl'))

#output will be

#|           |   Flat count |
#|-----------+--------------|
#| floor no1 |            3 |
#| floor no2 |            5 |
#| floor no3 |            5 |
#| floor no4 |            7 |
#| floor no5 |            8 |

# find a list of the floors that has 5 flats
floors = building[building['Flat count'] == 5].index.tolist()
print("\n\nFloors with 5 flats: ", floors)

#output will be
#Floors with 5 flats:  ['floor no2', 'floor no3']

#find the floor with the max number of flats
max_floor_name = building['Flat count'].idxmax()

#output will be 
#'floor no5'
max_floor_name

           Flat count
floor no1           3
floor no2           5
floor no3           5
floor no4           7
floor no5           8


Floors with 5 flats:  ['floor no2', 'floor no3']

'floor no5'

In [156]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [180]:
def answer_five():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['SUMLEV']==50)]
    states = census_df1.groupby(census_df1['STNAME'])
    return states.size().sort_values(ascending=0)

In [181]:
answer_five()

STNAME
Texas                   254
Georgia                 159
Virginia                133
Kentucky                120
Missouri                115
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Florida                  67
Alabama                  67
Pennsylvania             67
South Dakota             66
Colorado                 64
Louisiana                64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Alaska                   29
Utah                     29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Vermont                  14
Massachusetts            14
New Hampshire            10
Connecticut               8
Hawaii                    5
Rhode Island              5
Delaware                  3
District of Columbia      1
dtype: int64

In [185]:
def answer_five():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['SUMLEV']==50)]
    states = census_df1.groupby(census_df1['STNAME'])
    return states.size().argmax()

In [186]:
answer_five()

'Texas'

In [244]:
def answer_six():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['SUMLEV']==50)]
    cty_pops = census_df1.loc[:,['STNAME','CTYNAME','CENSUS2010POP']]
    return cty_pops

In [245]:
answer_six()

         STNAME             CTYNAME  CENSUS2010POP
1       Alabama      Autauga County          54571
2       Alabama      Baldwin County         182265
3       Alabama      Barbour County          27457
4       Alabama         Bibb County          22915
5       Alabama       Blount County          57322
6       Alabama      Bullock County          10914
7       Alabama       Butler County          20947
8       Alabama      Calhoun County         118572
9       Alabama     Chambers County          34215
10      Alabama     Cherokee County          25989
11      Alabama      Chilton County          43643
12      Alabama      Choctaw County          13859
13      Alabama       Clarke County          25833
14      Alabama         Clay County          13932
15      Alabama     Cleburne County          14972
16      Alabama       Coffee County          49948
17      Alabama      Colbert County          54428
18      Alabama      Conecuh County          13228
19      Alabama        Coosa County          11539
20      Alabama    Covington County          37765
21      Alabama     Crenshaw County          13906
22      Alabama      Cullman County          80406
23      Alabama         Dale County          50251
24      Alabama       Dallas County          43820
25      Alabama       DeKalb County          71109
26      Alabama       Elmore County          79303
27      Alabama     Escambia County          38319
28      Alabama       Etowah County         104430
29      Alabama      Fayette County          17241
30      Alabama     Franklin County          31704
...         ...                 ...            ...
3162  Wisconsin     Washburn County          15911
3163  Wisconsin   Washington County         131887
3164  Wisconsin     Waukesha County         389891
3165  Wisconsin      Waupaca County          52410
3166  Wisconsin     Waushara County          24496
3167  Wisconsin    Winnebago County         166994
3168  Wisconsin         Wood County          74749
3170    Wyoming       Albany County          36299
3171    Wyoming     Big Horn County          11668
3172    Wyoming     Campbell County          46133
3173    Wyoming       Carbon County          15885
3174    Wyoming     Converse County          13833
3175    Wyoming        Crook County           7083
3176    Wyoming      Fremont County          40123
3177    Wyoming       Goshen County          13249
3178    Wyoming  Hot Springs County           4812
3179    Wyoming      Johnson County           8569
3180    Wyoming      Laramie County          91738
3181    Wyoming      Lincoln County          18106
3182    Wyoming      Natrona County          75450
3183    Wyoming     Niobrara County           2484
3184    Wyoming         Park County          28205
3185    Wyoming       Platte County           8667
3186    Wyoming     Sheridan County          29116
3187    Wyoming     Sublette County          10247
3188    Wyoming   Sweetwater County          43806
3189    Wyoming        Teton County          21294
3190    Wyoming        Uinta County          21118
3191    Wyoming     Washakie County           8533
3192    Wyoming       Weston County           7208

[3142 rows x 3 columns]

In [345]:
def answer_six():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['SUMLEV']==50)]
    cty_pops = census_df1.loc[:,['STNAME','CTYNAME','CENSUS2010POP']]
    s = cty_pops.groupby('STNAME')['CENSUS2010POP'].apply(lambda x: x.nlargest(3).sum())
    return s.sort_values(ascending=False)

In [346]:
answer_six()

STNAME
California              15924150
Texas                    8269632
Illinois                 6815061
New York                 6321295
Florida                  5564635
Arizona                  5173150
Michigan                 3863924
Pennsylvania             3549228
Washington               3439809
Ohio                     3245910
Massachusetts            3044796
Connecticut              2673320
Maryland                 2640226
New Jersey               2498943
Nevada                   2427950
Georgia                  2417795
North Carolina           2309027
Minnesota                2059617
Missouri                 2033597
Tennessee                1986551
Virginia                 1921722
Utah                     1852698
Wisconsin                1825699
Colorado                 1794424
Indiana                  1754727
Oregon                   1641036
Oklahoma                 1577791
Alabama                  1406269
Hawaii                   1293120
Kansas                   1220478
Louisiana                1216552
Kentucky                 1196619
South Carolina           1185938
New Mexico               1015967
Nebraska                  961357
Rhode Island              919804
Delaware                  897934
New Hampshire             842389
Arkansas                  807152
Iowa                      807090
Idaho                     719782
Maine                     632728
District of Columbia      601723
Mississippi               593642
Alaska                    478402
West Virginia             393551
Montana                   348199
South Dakota              315244
North Dakota              297947
Vermont                   277721
Wyoming                   213321
Name: CENSUS2010POP, dtype: int64

In [355]:
def answer_six():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['SUMLEV']==50)]
    cty_pops = census_df1.loc[:,['STNAME','CTYNAME','CENSUS2010POP']]
    s = cty_pops.groupby('STNAME')['CENSUS2010POP'].apply(lambda x: x.nlargest(3).sum())
    return s.sort_values(ascending=False).index[:3].tolist()

In [356]:
answer_six()

['California', 'Texas', 'Illinois']

In [429]:
def answer_seven():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['SUMLEV']==50)]
    census_df1 = census_df1.loc[:,['CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
    sum_cols = census_df1.copy()
    cty_delta = {}
    pops = []
    for idx,r in sum_cols.iterrows():
        pops = [r['POPESTIMATE2010'],r['POPESTIMATE2011'],r['POPESTIMATE2012'],r['POPESTIMATE2013'],r['POPESTIMATE2014'],r['POPESTIMATE2015']]
        pops.sort()
        cty_delta[r['CTYNAME']] = pops[5] - pops[0]
        
    return max(cty_delta,key=cty_delta.get)

In [430]:
answer_seven()

'Harris County'

In [463]:
def answer_eight():
    census_df1 = census_df.copy()
    census_df1 = census_df1[(census_df1['CTYNAME'].str.contains('^Washington')) & ((census_df1['REGION']==1) | (census_df1['REGION']==2)) & (census_df1['POPESTIMATE2015'] > census_df1['POPESTIMATE2014'])]
    filtered =  census_df1.loc[:,['STNAME','CTYNAME','REGION','POPESTIMATE2014','POPESTIMATE2015']]
    filtered = filtered.set_index(['STNAME','CTYNAME'])
    return filtered

In [464]:
answer_eight()

                                REGION  POPESTIMATE2014  POPESTIMATE2015
STNAME       CTYNAME
Iowa         Washington County       2            22087            22247
Minnesota    Washington County       2           249320           251597
Pennsylvania Washington County       1           208175           208261
Rhode Island Washington County       1           126430           126517
Wisconsin    Washington County       2           133301           133674